.suscripcion-container {
  width: 60%;
  margin: auto;
  z-index: 2;
  position: absolute;
  transform: translate(2rem, -14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: $color-dark;

  p {
    width: 90%;
    text-align: center;
    color: $color-white;
    line-height: 1.7;

    @media (max-width: 599px) {
      font-size: 1.3rem;
    }
    @media (min-width: 600px) {
      font-size: 1.8rem;
    }
    @media (min-width: 900px) {
      font-size: 2.6rem;
    }
    @media (min-width: 1200px) {
      font-size: 2rem;
    }
  }

  .form-suscripcion {
    width: 90%;
    display: grid;
    margin-top: 2rem;
    column-gap: 1.5rem;
    grid-template-columns: 65% 30%;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
    border-radius: 32px;
    background-color: $color-white;

    #suscripcion {
      border: none;
      padding: 10px 5px;
      font-size: 1.2rem;
      @media (min-width: 600px) {
        padding: 20px 10px;
        &::placeholder {
          font-size: 1.5rem;
        }
      }

      @media(min-width: 900px) {
        padding: 25px 15px;
        font-size: 3rem;
        border-radius: 102px;
        &::placeholder {
          font-size: 2.3rem;
        }
      }
      @media(min-width: 1200px) {
        font-size: 2rem;
        padding: 8px 5px;
      }
    }

    #button-sub {
      border: none;
      font-size: 1.2rem;
      padding: 10px 8px;
      color: $color-white;
      border-radius: 32px;
      background-color: $color-dark;
      cursor: pointer;

      @media (min-width: 600px) {
        padding: 20px 10px;
        font-size: 1.8rem;
      }
      @media (min-width: 900px) {
        padding: 25px 10px;
        font-size: 3rem;
        border-radius: 62px;
      }
      @media (min-width: 1200px) {
        padding: 20px 10px;
        font-size: 2rem;
      }
      @media (min-width: 1800px) {
        padding: 15px 10px;
        font-size: 2rem;
        border-radius: 62px;
      }
    }

    @media(min-width: 900px) {
      border-radius: 62px;
    }
    @media(min-width: 1200px) {
      width: 70%;
    }
  }

  @media (max-width: 599px) {
    width: 90%;
    height: 25rem;
    margin-bottom: 5rem;
  }
  @media (min-width: 600px) {
    width: 90%;
    height: 30rem;
    margin-bottom: 5rem;
    transform: translate(3rem, -14rem);
  }
  @media (min-width: 768px) {
    transform: translate(4.5rem, -14rem);
  }
  @media (min-width: 900px) {
    height: 40rem;
    transform: translate(6rem, -14rem);
  }
  @media (min-width: 1200px) {
    width: 80%;
    height: 40rem;
    border-radius: 32px;
    transform: translate(14rem, -14rem);
  }
  @media (min-width: 1800px) {
    width: 50%;
    height: 40rem;
    transform: translate(48rem, -14rem);
  }
}

#error {
  font-size: 1.5rem;
  color: $error-alert;
  @media (min-width: 600px) {
    font-size: 1.8rem;
  }
  @media (min-width: 900px) {
    font-size: 3rem;
  }
  @media (min-width: 1200px) {
    font-size: 2rem;
  }
}

#enviado {
    font-size: 1.5rem;
    color: $success-mesagge;
    @media (min-width: 600px) {
      font-size: 1.8rem;
    }
    @media (min-width: 900px) {
      font-size: 3rem;
    }
    @media (min-width: 1200px) {
      font-size: 2rem;
    }
}
