@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap');

$font-Jost: 'Jost', sans-serif;
$color-dark: #242424;
$color-white: #ffffff;
$color-gray: #7D7D7D;
$background-gray: #EFEFEF;
$color-yellow: #FFE600;
$error-alert: #ff4d4d;
$success-mesagge: #20bf6b;