.bg-paginas {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: #00000081;
    background-blend-mode: soft-light;

    h2 {
        margin: auto;
        color: $color-white;
        text-align: center;
        letter-spacing: 5px;
        font-weight: 600;
        @media(max-width: 599px) {
            font-size: 2.5rem;
        }
        @media(min-width: 600px) {
            font-size: 4rem;
        }
        @media(min-width: 900px) {
            font-size: 7em;
        }
        @media(min-width: 1800px) {
            letter-spacing: 10px;
        }
    }

    @media(min-width: 1200px) {
        width: 80%;
        height: 40vh;
        margin: auto;
    }
    @media(min-width: 1800px) {
        width: 60%;
    }
}