.content-localitation {
  .content-section-localitation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0rem 4rem;
    border-radius: 32px;
    background-color: #efefef;

    .content-text-localitation {
      display: flex;
      flex-direction: column;

      h6 {
        margin: 0;
        padding: 0;
        color: $color-dark;
        letter-spacing: 3px;
        @media (max-width: 599px) {
          font-size: 2.5rem;
        }
        @media (min-width: 600px) {
          font-size: 2.8rem;
        }
      }

      .row-localitation {
        .content-street {
          .p-text {
            color: $color-dark;
            font-weight: 600;
            @media (max-width: 599px) {
              font-size: 1.8rem;
            }
            @media (min-width: 600px) {
              font-size: 2rem;
            }
          }

          p {
            color: #7d7d7d;
            font-weight: 400;
            @media (max-width: 599px) {
              font-size: 1.5rem;
            }
            @media (min-width: 600px) {
              font-size: 1.8rem;
            }
          }
        }
        @media (min-width: 900px) {
          width: 100%;
          display: grid;
          grid-template-columns: 50% 50%;
          align-items: center;
          justify-content: center;
        }
      }

      @media (min-width: 900px) {
        width: 100%;
      }
    }

    @media (max-width: 599px) {
      width: 100%;
      height: 28rem;
    }
    @media (min-width: 600px) {
      width: 100%;
      height: 28rem;
    }
  }

  .img-localitation {
    @media (max-width: 599px) {
      display: none;
    }
    @media (min-width: 600px) {
      display: none;
    }
    @media (min-width: 1200px) {
      display: block;
      width: 100%;
      height: 28rem;
      border-radius: 32px;

      .image-loc {
        width: 100%;
        height: 100%;
        border-radius: 32px;
      }
    }
  }

  @media (max-width: 599px) {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }
  @media (min-width: 600px) {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }
  @media (min-width: 1200px) {
    width: 70%;
    margin: auto;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 70% 30%;
    margin-top: 4rem;
  }

  @media (min-width: 1800px) {
    width: 60%;
  }
}

.one {
  margin-top: 10rem;
}

.three {
  margin-bottom: 40rem;
}
