.background-footer {
  width: 100%;
  height: 90vh;
  background-color: #000000b2;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;

  .container-footer {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .column-footer {
      color: $color-white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        letter-spacing: 3px;
        @media (max-width: 599px) {
          font-size: 1.5rem;
        }
        @media (min-width: 600px) {
          font-size: 1.8rem;
        }
        @media (min-width: 900px) {
          font-size: 3rem;
        }
        @media (min-width: 1200px) {
          font-size: 2rem;
        }
      }

      .travelbe-footer {
        font-weight: 600;
        letter-spacing: 3px;
        @media (max-width: 599px) {
          font-size: 5rem;
        }
        @media (min-width: 600px) {
          font-size: 6rem;
          letter-spacing: 8px;
        }
      }

      .title-footer {
        font-weight: 400;
        @media (max-width: 599px) {
          font-size: 3rem;
        }
        @media (min-width: 600px) {
          font-size: 4rem;
          letter-spacing: 8px;
        }
        @media (min-width: 1200px) {
          font-size: 3rem;
        }
      }

      .red-social {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

          a {
            width: 4rem;
            height: 4rem;
            margin: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 32px;
            border: 1px solid $color-white;
            color: $color-white;
            text-decoration: none;
            transition: all 0.6s ease;
            transform: scale(1);
            .social {
              @media (max-width: 599px) {
                font-size: 2rem;
              }
              @media (min-width: 600px) {
                font-size: 4rem;
              }
              @media (min-width: 1200px) {
                font-size: 2rem;
              }
            }

            @media (min-width: 600px) {
              width: 8rem;
              height: 8rem;
              border-radius: 100%;
            }
            @media (min-width: 1200px) {
              width: 4em;
              height: 4rem;
              margin-top: 1rem;
  
              &:hover {
                transition: all 0.6s ease;
                color: $color-dark;
                transform: scale(1.2);
                background-color: $color-white;
                cursor: pointer;
              }
            }
          }
      }

      @media (max-width: 599px) {
        margin-top: 3rem;
      }

      @media (min-width: 600px) {
        margin-top: 4rem;
      }
    }
    @media (min-width: 600px) {
      padding-top: 5rem;
    }
    @media (min-width: 1200px) {
      display: grid;
      padding-top: 10rem;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-content: center;
    }
  }

  @media (min-width: 600px) {
    height: 80vh;
  }

  @media (min-width: 1200px) {
    height: 80vh;
  }
}
