.bg-section-oferta {
    margin-top: 15rem;
    margin-bottom: 50rem;
    position: relative;

    .content-section-oferta {
        padding: 2rem;
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: $color-white;
        box-shadow: 0px 16px 100px #9AAACF;

        h5 {
            @media(max-width: 599px) {
                display: none;
            }
            @media(min-width: 600px) {
                display: none;
            }
            @media(min-width: 1200px) {
                display: block;
                position: absolute;
                font-size: 20rem;
                letter-spacing: 2rem;
                color: rgb(238, 239, 244);
                transform: translate(-10rem, -25rem);
            }
        }

        h3 {
            color: $color-dark;
            font-weight: 700;
            position: relative;

            &::before {
                content: '';
                width: 8rem;
                height: 1px;
                transform: translateY(-2rem);
                display: block;
                position: absolute;
                background-color: $color-gray;
            }

            @media(max-width: 599px) {
                font-size: 3rem;
            }
            @media(min-width: 600px) {
                font-size: 4rem;
            }
            @media(min-width: 900px) {
                width: 90%;
                font-size: 6rem;
            }
            @media(min-width: 1200px) {
                &::before {
                    content: '';
                    width: 8rem;
                    height: 2px;
                    transform: translateY(-2rem);
                    display: block;
                    position: absolute;
                    background-color: #aaaaaa;
                }
            }
        }

        p {
            color: $color-gray;
            line-height: 1.6;
            text-align: justify;
            @media(max-width: 599px) {
                font-size: 1.5rem;
            }
            @media(min-width: 600px) {
                font-size: 2rem;
            }
            @media(min-width: 900px) {
                width: 90%;
                font-size: 2.5rem;
            }
            @media(min-width: 1200px) {
                width: 90%;
                font-size: 2rem;
            }
        }

        @media(max-width: 599px) {
            width: 90%;
            height: 40rem;
            transform: translate(0rem, 16rem);
        }
        @media(min-width: 600px) {
            width: 90%;
            height: 45rem;
            transform: translate(0rem, 30rem);
        }
        @media(min-width: 900px) {
            width: 80%;
            height: 50rem;
            transform: translate(0rem, 30rem);
        }
        @media(min-width: 1200px) {
            width: 70rem;
            height: 60rem;
            display: flex;
            padding: 40px;
            transform: translate(15rem, 20rem);
            box-shadow: none;
        }
        @media(min-width: 1800px) {
            transform: translate(30rem, 20rem);
        }
    }

    @media(max-width: 599px) {
        width: 100%;
        height: 30vh;
    }
    @media(min-width: 600px) {
        width: 100%;
        height: 50vh;
        margin-bottom: 40rem;
    }
    @media(min-width: 1200px) {
        width: 40%;
        height: 80vh;
        margin-left: 25rem;
        margin-top: 15rem;
        margin-bottom: 20rem;
    }
    @media(min-width: 1800px) {
        width: 30%;
        height: 80vh;
        margin-left: 50rem;
        margin-top: 20rem;
    }
}

.bg-ofertas {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-color: #0000005e;
    background-blend-mode: soft-light;

    h3 {
        color: $color-white;
        font-weight: 700;
        text-align: center;
        @media(max-width: 599px) {
            font-size: 3rem;
        }
        @media(min-width: 600px) {
            font-size: 4rem;
        }
        @media(min-width: 900px) {
            font-size: 6rem;
        }
    }
    @media(max-width: 599px) {
        margin-bottom: 20rem;
    }
    @media(min-width: 1200px) {
        margin-bottom: 25rem;
    }
    @media(min-width: 1800px) {
        height: 60vh;
        margin-bottom: 25rem;
    }
}