.background-main {
  border-radius: 15px;
  overflow: hidden;

  .container-main {
    .col-1 {
      .title-main {
        color: $color-white;
        font-weight: 500;

        @media (max-width: 599px) {
          font-size: 2.2rem;
        }
        @media (min-width: 600px) {
          font-size: 3.5rem;
        }
        @media (min-width: 900px) {
          font-size: 6rem;
        }
        @media (min-width: 1200px) {
          font-size: 3.5rem;
        }
      }
    }

    .col-2 {
      .boton-main {
        font-weight: 600;
        letter-spacing: 2px;
        padding: 15px 25px;
        border-radius: 32px;
        color: $color-dark;
        background-color: $color-white;

        @media (max-width: 599px) {
          font-size: 1.8rem;
        }
        @media (min-width: 600px) {
          font-size: 2rem;
        }
        @media (min-width: 900px) {
          font-size: 2.5rem;
          padding: 25px 45px;
        }
        @media(min-width: 1200px) {
          padding: 15px 35px;
          font-size: 1.8rem;
        }
        @media(min-width: 1800px) {
          padding: 15px 35px;
          font-size: 1.5rem;
        }
      }

      @media (max-width: 599px) {
        margin-top: 2rem;
      }
      @media (min-width: 600px) {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media (min-width: 1200px) {
        margin-top: 0rem;
        margin-bottom: 2.5rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
    }

    @media (max-width: 599px) {
      width: 90%;
      height: 100%;
      margin: auto;
      display: flex;
      padding-bottom: 5rem;
      flex-direction: column;
      justify-content: flex-end;
    }
    @media (min-width: 600px) {
      width: 90%;
      height: 100%;
      margin: auto;
      display: flex;
      padding-bottom: 5rem;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-end;
    }

    @media(min-width: 1200px) {
      height: 100%;
      padding: 0;
      display: grid;
      grid-template-columns: 60% 30%;
      align-items: flex-end;
      justify-content: center; 
    }
  }

  @media (max-width: 599px) {
    width: 100%;
    height: 80vh;
  }
  @media (min-width: 600px) {
    width: 100%;
    height: 80vh;
  }
  @media (min-width: 1200px) {
    width: 80%;
    height: 50vh;
    margin: auto;
  }
  @media (min-width: 1800px) {
    width: 60%;
    height: 50vh;
    margin: auto;
  }
}
