.container-contacto {
  background-color: #00000071;
  background-blend-mode: soft-light;
  margin-bottom: 30rem;
  overflow: hidden;
  border-radius: 32px;

  .container-text-contact {
    h2 {
      color: $color-white;
      font-weight: 700;
      @media (max-width: 599px) {
        font-size: 5rem;
      }
      @media (min-width: 600px) {
        font-size: 6rem;
      }
      @media (min-width: 900px) {
        font-size: 8rem;
      }
      @media(min-width: 1200px) {
        font-size: 5rem;
      }
    }

    p {
      color: #e5e5e5;
      font-weight: 400;
      line-height: 1.6;
      text-align: justify;

      @media (max-width: 599px) {
        font-size: 1.5rem;
      }
      @media (min-width: 600px) {
        font-size: 2rem;
      }
      @media (min-width: 900px) {
        font-size: 2.5rem;
      }
      @media(min-width: 1200px) {
        font-size: 1.8rem;
      }
      @media(min-width: 1800px) {
        font-size: 1.8rem;
      }
    }

    @media (max-width: 599px) {
      width: 90%;
      margin: auto;
      padding-top: 5rem;
    }
    @media (min-width: 600px) {
      width: 90%;
      margin: auto;
      padding-top: 5rem;
    }
  }

  .container-formulario {
    #formulario {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      .input-form {
        width: 100%;
        height: 4rem;
        border: none;
        margin-top: 2.5rem;
        color: $color-white;
        border-bottom: 1px solid #e5e5e5;
        background-color: transparent;

        &::placeholder {
          font-size: 1.5rem;
        }
        @media(min-width: 600px) {
          font-size: 2rem;
          &::placeholder {
            font-size: 2rem;
          }
        }
        @media(min-width: 900px) {
          font-size: 2.5rem;
          &::placeholder {
            font-size: 2.5rem;
          }
        }
        @media(min-width: 1200px) {
          font-size: 1.5rem;
          &::placeholder {
            font-size: 1.5rem;
          }
        }
      }

      .text-area {
        width: 100%;
        height: 8rem;
        margin-top: 2.5rem;
        border: none;
        color: $color-white;
        border-bottom: 1px solid #e5e5e5;
        background-color: transparent;

        &::placeholder {
          font-size: 1.5rem;
        }
        @media(min-width: 600px) {
          font-size: 2rem;
          &::placeholder {
            font-size: 2rem;
          }
        }
        @media(min-width: 900px) {
          font-size: 2.5rem;
          &::placeholder {
            font-size: 2.5rem;
          }
        }
        @media(min-width: 1200px) {
          font-size: 1.5rem;
          &::placeholder {
            font-size: 1.5rem;
          }
        }
      }

      #enviar {
        border: none;
        padding: 15px 45px;
        font-size: 1.8rem;
        border-radius: 32px;
        margin-top: 2rem;
        cursor: pointer;
        transition: all 0.6s ease-out;
        border: 1px solid $color-white;
        background-color: $color-white;

        @media(min-width: 1200px) {
          &:hover {
            color: $color-white;
            transition: all 0.6s ease-out;
            border: 1px solid #cccccc;
            background-color: transparent;
          }
        }
      }
    }

    @media (max-width: 599px) {
      width: 90%;
      margin: auto;
      padding-top: 5rem;
    }
    @media (min-width: 600px) {
      width: 90%;
      margin: auto;
      padding-top: 5rem;
    }
  }

  @media (max-width: 599px) {
    width: 100%;
    height: 80rem;
  }
  @media (min-width: 600px) {
    width: 100%;
    height: 80rem;
  }
  @media (min-width: 900px) {
    width: 90%;
    height: 90rem;
    margin: auto;
    margin-bottom: 40rem;
  }
  @media (min-width: 1200px) {
    width: 80%;
    height: 60rem;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  @media (min-width: 1800px) {
    width: 60%;
    height: 60rem;
    background-color: #000000e5;
    background-blend-mode: soft-light;
  }
}
