.container-seccion-video {
  .text-container-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      color: $color-dark;
      text-align: center;
      letter-spacing: 2px;
      @media (max-width: 599px) {
        font-size: 2.2rem;
        width: 80%;
      }
      @media (min-width: 600px) {
        font-size: 3.2rem;
      }
      @media (min-width: 900px) {
        font-size: 4.2rem;
      }
    }
    p {
      text-align: center;
      color: $color-gray;
      line-height: 1.7;
      @media (max-width: 599px) {
        font-size: 1.5rem;
        margin-top: 3rem;
      }
      @media (min-width: 600px) {
        font-size: 2rem;
        margin-top: 4rem;
        text-align: center;
      }

      @media (min-width: 900px) {
        font-size: 2.3rem;
      }
      @media (min-width: 1200px) {
        width: 80%;
        font-size: 2rem;
      }
      @media (min-width: 1800px) {
        width: 80%;
        font-size: 2rem;
      }
    }
  }

  .container-video {
    width: 100%;
    margin-top: 3rem;
    border-radius: 32px;
    #video-section {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      object-fit: cover;

      @media (min-width: 1200px) {
        border-radius: 32px;
      }
    }

    video[poster] {
      height: 100%;
      width: 100%;
    }
    @media (min-width: 1200px) {
      width: 80%;
      margin: auto;
      margin-top: 5rem;
    }
    @media (min-width: 1800px) {
      width: 90%;
      margin: auto;
      margin-top: 5rem;
    }
  }

  @media (max-width: 599px) {
    width: 90%;
    margin: auto;
    margin-top: 15rem;
    margin-bottom: 30rem;
  }
  @media (min-width: 600px) {
    width: 80%;
    margin: auto;
    margin-top: 15rem;
    margin-bottom: 30rem;
  }
  @media (min-width: 900px) {
    width: 70%;
  }
  @media (min-width: 1200px) {
    margin-bottom: 40rem;
  }

  @media (min-width: 1800px) {
    width: 60%;
    margin-bottom: 50rem;
  }
}
