.apartado-secciones {
  width: 90%;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 5rem;

  @media(min-width: 600px) {
    width: 80%;
  }
  @media(min-width: 900px) {
    width: 70%;
    margin-top: 20rem;
    margin-bottom: 25rem;
  }

  @media (min-width: 1200px) {
    display: grid;
    column-gap: 5rem;
    row-gap: 5rem;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-bottom: 25rem;
    justify-content: center;
  }
  @media (min-width: 1800px) {
    width: 60%;
    column-gap: 2rem;
  }
}
