.card-section-link {
  width: 90%;
  margin: auto;
  margin-bottom: 30rem;

  @media(min-width: 600px) {
    width: 80%;
    margin-top: 30rem;
    margin-bottom: 40rem;
  }
  @media(min-width: 900px) {
    margin-top: 35rem;
    margin-bottom: 50rem;
  }
  @media(min-width: 1200px) {
    display: grid;
    column-gap: 5rem;
    grid-template-columns: 45% 45%;
    justify-content: center;
    margin-top: 15rem;
    margin-bottom: 35rem;
  }
  @media(min-width: 1200px) {
    width: 60%;
  }
}

.box-seccion {
    position: relative;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 18px;
      background-color: #242424a2;
      transition: all 0.6s ease;
    }

    @media(min-width: 1200px) {
      transition: all 0.6s ease;
      &:hover::after {
        transition: all 0.6s ease;
        background-color: #ffee0038;
      }
    }

    .apartado-image {
      position: absolute;
      border-radius: 18px;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      @media (min-width: 1200px) {
        transform: scale(1);
        transition: all 0.6s ease;

        &:hover {
          transition: all 0.6s ease;
          transform: scale(1.5);
        }
      }
    }

    .text-seccion {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 2;

      h2 {
        color: $color-white;
        letter-spacing: 5px;
        font-weight: 500;
        text-align: center;
        @media (max-width: 599px) {
          font-size: 2.5rem;
        }
        @media (min-width: 600px) {
          font-size: 3rem;
        }
        @media (min-width: 900px) {
          font-size: 4.2rem;
        }
      }

      p {
        color: $color-white;
        font-weight: 300;
        margin-top: 0.5rem;
        letter-spacing: 2px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        
        span {
          margin-right: 0.5rem;
        }

        .angle-right {
          color: $color-yellow;
        }

        @media (max-width: 599px) {
          font-size: 1.5rem;
        }
        @media (min-width: 600px) {
          font-size: 2rem;
        }
        @media (min-width: 900px) {
          font-size: 2.5rem;
        }
        @media (min-width: 1800px) {
          font-size: 1.8rem;
        }
      }
    }

    @media (max-width: 599px) {
      margin-top: 2.5rem;
      width: 100%;
      height: 22rem;
    }
    @media (min-width: 600px) {
      margin-top: 3rem;
      width: 100%;
      height: 30rem;
    }
    @media (min-width: 900px) {
      margin-top: 7rem;
      height: 40rem;
    }

    @media (min-width: 1200px) {
      margin-top: 0rem;
      height: 30rem;
    }
    @media (min-width: 1800px) {
      margin-top: 0rem;
      height: 30rem;
    }
  }