.menu-btn {
  z-index: 3;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.menu-btn div {
    position: relative;
    top: 49%;
    width: 26px;
    height: 3px;
    background-color: #242424;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
    z-index: 300;
  }
  
  /* Hamburger top & bottom line */
  .menu-btn > div:before,
  .menu-btn > div:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    background: inherit;
    height: 3px;
    width: 100%;
    z-index: 1;
  }
  .menu-btn > div:after {
    top: -10px;
  }
  
  /* Toggler Animation */
  .menu-btn.open > div {
    transform: rotate(135deg);
    background-color: $color-white;
  }
  .menu-btn.open > div:before,
  .menu-btn.open > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  @media (min-width: 900px) {
    .menu-btn {
      display: none;
    }
  }