#titulo-galeria {
    text-align: center;
    color: $color-dark;
    font-weight: 800;
    letter-spacing: 3px;
    margin-top: 8rem;
    @media(max-width: 599px) {
        font-size: 2.5rem;
    }
    @media(min-width: 600px) {
        font-size: 2.8rem;
    } 
}

.container-galeria {
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 30rem;

    .image-container-galeria {
        border-radius: 32px;
        .image-galery {
            width: 100%;
            height: 100%;
            border-radius: 32px;
        }
        @media(max-width: 599px) {
            width: 100%;
            height: 30rem;
        }
        @media(min-width: 600px) {
            width: 100%;
            height: 30rem;
        }
        @media(min-width: 900px) {
            width: 100%;
            height: 50rem;
        }
        @media(min-width: 1200px) {
            height: 30rem;
            transform: scale(1);
            transition: all 0.6s ease;

            &:hover {
                z-index: 2;
                transition: all 0.6s ease;
                transform: scale(1.3);
                cursor: pointer;
            }
        }
    }

    @media(max-width: 599px) {
        display: grid;
        gap: 5rem;
        grid-template-columns: 100%;
        justify-content: center;
    }
    @media(min-width: 600px) {
        display: grid;
        gap: 8rem;
        grid-template-columns: 100%;
        justify-content: center;
    }
    @media(min-width: 1200px) {
        width: 70%;
        display: grid;
        gap: 2rem;
        grid-template-columns: 50% 50%;
        justify-content: center;
    }
    @media(min-width: 1800px) {
        width: 50%;
        gap: 8rem;
    }
}